<div class="container d-flex">
    <button type="button" class="btn btn-primary" routerLink="feature" (click)="dialogueForNotifications()">Notifications</button>
    <button type="button" class="btn btn-secondary" (click)="navigateToStaff()">Staff Section</button>
    <button type="button" class="btn btn-warning" (click)="navigateToStud()">Student Section</button>
    <button type="button" class="btn btn-danger" (click)="navigatToLogin()">Login</button>
    <button type="button" class="btn btn-success" (click)="navigateToCompAsub()">Comp A</button>
    <button type="button" class="btn btn-tertiary" (click)="navigateToCompBsub()">Comp B</button>
    <button type="button" class="btn btn-info" routerLink="feature/customer" (click)="dialogueForNotifications()">CustomerServices</button>
</div>

<h1>Home Component from root module</h1>