<div class="card position-absolute top-50 start-50 translate-middle">
    <div class="card-header">
        Component A
    </div>
    <div class="card-body">
        <button class="btn btn-primary" (click)="setFromCompA()">Set Data From Component A</button>
    </div>
    <div class="card-footer">
        <p>Data recieve from service: <b>{{storeData}}</b></p>
    </div>
</div>
<h1 class="d-block">Comp a from root module</h1>
<button type="button" class="btn btn-primary" routerLink="">Home</button>